# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Ignore CMake outputs
compile_commands.json
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Ignore outputs from "perf record"
perf.data
perf.data.old

# Default/recommended install directory for vcpkg
**/vcpkg

# Other misc stuff
*.VC.*
**/.vscode
**/build
**/build-*
**/build.bat
**/log.txt
**/.vs
/src/steamnetworkingsockets/Messageswin64Debug/*
/src/steamnetworkingsockets/certtool/win64/*
/src/steamnetworkingsockets/clientlib/win64/*
*.swp
/.github/build-ci-ccache
*.log
*build-ci-ccache*
vcpkg_installed

# We use cmake, so no Visual studio project files should be in git
*.sln
*.vcxproj
*.vcxproj.filters
*.vpc_crc
*_from_partner.bat
src/mp.bat
*_changes.html
