[submodule "src/external/abseil"]
	path = src/external/abseil
	url = https://github.com/abseil/abseil-cpp
	branch = lts_2020_02_25
[submodule "src/external/webrtc"]
	path = src/external/webrtc
	url = https://webrtc.googlesource.com/src
[submodule "src/external/vjson"]
	path = src/external/vjson
	url = https://github.com/zpostfacto/vjson.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
