[submodule "src/external/abseil"]
	path = src/external/abseil
	url = https://github.com/abseil/abseil-cpp
	branch = lts_2020_02_25
[submodule "src/external/webrtc"]
	path = src/external/webrtc
	url = https://webrtc.googlesource.com/src
[submodule "src/external/picojson"]
	path = src/external/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "modules/partner"]
	path = modules/partner
	url = ../SteamNetworkingSockets_partner.git
[submodule "modules/ps5"]
	path = modules/ps5
	url = ../SteamNetworkingSockets_ps5.git
[submodule "modules/nswitch"]
	path = modules/nswitch
	url = ../SteamNetworkingSockets_nswitch.git
[submodule "modules/xboxone"]
	path = modules/xboxone
	url = ../SteamNetworkingSockets_xboxone.git
[submodule "src/external/vjson"]
	path = src/external/vjson
	url = https://github.com/zpostfacto/vjson.git
