Source: gamenetworkingsockets
Version: 2020-10-06
Description: GameNetworkingSockets is a basic transport layer for games.
Homepage: https://github.com/ValveSoftware/GameNetworkingSockets
Build-Depends: protobuf
Default-Features: openssl

Feature: openssl
Description: Use OpenSSL as the crypto backend
Build-Depends: openssl

Feature: libsodium
Description: Use libsodium as the crypto backend
Build-Depends: libsodium

Feature: webrtc
Description: Compiles WebRTC support for P2P
Build-Depends: abseil
